html,
body {
  min-width: 1440px;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;

  background-color: #ffffff;
}

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
  z-index: -5;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  
  opacity: 1;
  
  transition: 0.3s;
}

.main-header-logo:active {
  opacity: 0.5;
}

.main-header {
  display: flex;
  flex-basis: 100%;
  min-height: 130px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 85px;
  padding: 0 140px;
  padding-top: 65px;

  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;

  background-color: #eee;
}

.main-navigation {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 800px;
  justify-content: center;
}

.main-navigation-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 550px;

  list-style: none;
}

.main-navigation-items a {
  margin-right: 45px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.basket {
  text-align: end;
  
  list-style: none;
  position: relative;
}

.basket a {
  padding-left: 30px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.main-navigation-items a:hover,
.basket a:hover {
  color: rgb(251, 86, 90);
  
  transition: all 0.2s;
}

.main-navigation-items a:active,
.basket a:active {
  color: rgba(0, 0, 0, 0.3);
  
  transition: all 0.2s;
}

.main-navigation-items a:not([href]) {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(251, 86, 90);
}

.main-navigation-items a:not([href]):hover {
  color: rgb(0, 0, 0);
}

.basket a::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 35px;
  width: 15px;
  height: 15px;
  
  background-image: url(../img/icons/cart-icon.svg);
  background-repeat: no-repeat;
  
  opacity: 0.3;
  transition: 0.4s;
}

.basket a:hover::before {
  opacity: 1;
}

.slider {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  

  color: rgba(0, 0, 0, 1);
  background-color: #eee;
}

.slider ul {
  margin: 0;
  padding: 0;
}


.slider-item {
  display: flex;
  flex-flow: row nowrap;
  
  height: 430px;
  justify-content: space-between;
}

.item-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-width: 410px;
  padding-right: 5px;
  padding-top: 25px;
}

.item-wrapper h3 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  
  font-family: "Roboto medium", sans-serif;
  font-size: 55px;
  line-height: 65px;
  font-weight: normal;
  text-transform: none;
}

.item-wrapper p {
  margin: 0;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
  color: #283136;
}

.item-wrapper h3 {
  font-size: 55px;
  line-height: 65px;
  font-weight: normal;
}

.item-expensive {
  display: none;
}

.item-night {
  display: none;
}

.item-math {
  display: none;
}

.slideOn {
  display: flex;
}

.slider-switcher ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
}

.services {
  display: flex;
  justify-content: center;
}

.services-list {
  display: flex;
  position: relative;
  flex-basis: 1920px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0 140px;
  margin-bottom: 120px;
  padding: 0;
  padding-top: 146px; 

  list-style: none;
}

.service-item {
  display: flex;
  width: 300px;
  flex-flow: column wrap;
}

.service-item h3 {
  margin: 20px 0;
  padding: 0;
}

.service-item p {
  margin: 0;
  margin-bottom: 30px;
  
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.service-item-web::before {
  content: "";
  position: absolute;
  
  top: 0;
  width: 300px;
  height: 146px;
  background-image: url(../img//illustrations/illustration-1.jpg);
}

.service-item-apps::before {
  content: "";
  position: absolute;
  
  top: 0;
  width: 300px;
  height: 146px;
  background-image: url(../img//illustrations/illustration-2.jpg);
}

.service-item-presentations::before {
  content: "";
  position: absolute;
  
  top: 0;
  width: 300px;
  height: 146px;
  background-image: url(../img//illustrations/illustration-3.jpg);
}

.button {
  display: block;
  width: 160px;
  height: 20px;
  
  color: #fff;
  text-align: center;
  vertical-align: middle;
  
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 0;
  
  background-color: #fb565a;
  
  border-radius: 4px;
}

.button-pink {
  color: #fff;
  background-color: #fb565a;
}

.button-lime {
  color: #fff;
  background-color: #00ca74;
  
  transition: all 0.2s;
}

.button-yellow {
  color: #fff;
  background-color: #efc84a;
  
  transition: all 0.2s;
}

.button-lime:active, 
.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.2);
}

.button-lime:active {
  background-color: #00aa62;
}

.button-yellow:active {
  background-color: #e5a722;
}

.button-lime:hover {
  background-color: #00bc6c;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-slider-about {
  width: 240px;
  
  background-color: #fb565a;
}

.information-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0 140px;
  margin-bottom: 70px;
  padding-top: 70px;
  
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.about {
  flex-basis: 770px;
  margin-right: 140px;
}

.about h2 {
  margin: 0;
  margin-bottom: 30px;
  
  font-family: "roboto medium", sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: normal;
}

.principes {
  margin: 0;
  margin-bottom: 35px;
} 

.research {
  margin: 0;
  margin-bottom: 25px;
  
  font-weight: bold;
  text-transform: uppercase;
}

.about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about ul li {
  padding: 0 0 25px 15px;
}

.about ul li::before {
  content: "";
  position: relative;
  display: inline-block;
  
  top: -5px;
  left: -15px;
  width: 30px;
  height: 2px;
  
  background-color: #fb565a;
}

.statistics {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 370px;
}

.statistics h2 {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
  
  text-align: center;
  text-transform: uppercase;
}

.statistics ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.statistics ul p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  
  color: #283136;
  
}

.projects {
  display: flex;
  justify-content: center;
  
  margin: 0 140px;
  margin-bottom: 85px;
  padding: 45px 0;
  
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.projects li {
  position: relative;
  
  display: inline-flex;
  justify-content: center;
  flex-basis: 200px;
  height: 90px;
  
  margin-left: 20px;
}

.projects li:not(:nth-child(4n)) a::after {
  content: "";
  position: absolute;
  
  width: 2px;
  height: 54px;
  top: 15px;
  left: 260px;
  
  background-color: rgba(0, 0, 0, 0.1);
}

.projects ul {
  display: flex;
  flex-basis: 1500px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.projects-logo {
  opacity: 0.4;
  transition: 0.4s;
}

.projects-logo:hover  {
  opacity: 1;
}

.percents {
  display: inline-block;
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  
  margin-bottom: 15px;
  
}

.percents-sign {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  vertical-align: baseline;
}


.map {
  position: relative;
  width: 100%;
  height: 440px;
  
  z-index: 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px;
}

.contacts {
  position: relative;
  
  z-index: 1;
  
  opacity: 0.95;
}

.contacts-wrapper {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  width: 220px;
  height: 210px;
  padding: 50px;
  margin-top: 10px;

  top: 0;
  right: 10px;

  background-color: #fff;
}

.contacts-wrapper li:first-child {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts-wrapper li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  
  font-size: 16px;
  color: #666;
}

.phone {
  color: #666;
  text-decoration: none;
  transition: 0.4s;
} 

.phone:hover {
  color: rgba(0, 0, 0, 1);
}

.button-contacts {
  width: 220px;
  
  background-color: #fb565a;
}

.button-contacts:hover,
.button-pink:hover {
  background-color: #e74246;
  
  transition: all 0.3s;
}

.button-contacts:active,
.button-pink:active {
  background-color: #d7373b;
  
  color: rgba(255, 255, 255, 0.3);
  
  box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.2);
}

.main-footer {
  display: flex;
  min-width: 1440px;
  min-height: 140px;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  
  margin-top: 40px;
}

.footer-social ul {
  display: flex;
  flex-basis: 300px;
  margin: 0;
  padding: 0;
  padding-left: 140px;
  padding-right: 100px;

  list-style: none;
}

.social-button-vk,
.social-button-fb,
.social-button-insta,
.social-button-github {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  
  background-image: radial-gradient(circle, #e1e1e1 90%, transparent 90% );
  border-radius: 50%;
}

.social-button-vk:hover,
.social-button-fb:hover,
.social-button-insta:hover,
.social-button-github:hover {
  background-image: radial-gradient(circle, #e74246 90%, transparent 90% );
}

.social-button-vk:active,
.social-button-fb:active,
.social-button-insta:active,
.social-button-github:active {
  background-image: radial-gradient(circle, #d7373b 90%, transparent 90% );
}

.social-button-vk::before {
  content: "";
  position: absolute;
  
  top: 33px;
  left: 25px;
  
  width: 30px;
  height: 30px;
  
  background-image: url(../img/icons/vk-icon.svg);
  background-repeat: no-repeat;
  
  opacity: 1;
}

.social-button-fb::before {
  content: "";
  position: absolute;
  
  top: 28px;
  left: 32px;
  
  width: 30px;
  height: 30px;
  
  background-image: url(../img/icons/fb-icon.svg);
  background-repeat: no-repeat;
  
  opacity: 1;
}

.social-button-insta::before {
  content: "";
  position: absolute;
  
  top: 30px;
  left: 30px;
  
  width: 30px;
  height: 30px;
  
  background-image: url(../img/icons/insta-icon.svg);
  background-repeat: no-repeat;
  
  opacity: 1;
}

.social-button-github::before {
  content: "";
  position: absolute;
  
  top: 24px;
  left: 24px;
  
  width: 32px;
  height: 32px;
  
  background-image: url(../img/icons/GitHub-Mark-Light-32px.png);
  background-repeat: no-repeat;
  
  opacity: 1;
}

.social-button-vk:active::before,
.social-button-fb:active::before,
.social-button-insta:active::before,
.social-button-github:active::before {
  opacity: 0.3;
  
  transition: 0.3s;
}

.discount {
  display: flex;
  flex-basis: 1000px;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.discount b {
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
}

.discount i {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  color: #444;
}

.slider-switcher {
  position: absolute;
  bottom: 110px;
  left: 49%
}

.button-slide {
  position: relative;
  
  width: 16px;
  height: 16px;
  margin-right: 20px;
  
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  
  cursor: pointer;
  
  outline: none;
}

.button-slide:active::before,
.button-slide:focus::before {
  content: "";
  position: absolute;
  
  left: 2px;
  top: 2px;;
  width: 4px;
  height: 4px;
  
  border: 2px solid #ccc;
  border-radius: 50%;
}

/* inner-page*/
.inner-page {
  display: flex;
  flex-flow: column nowrap;
}

.page-title {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  min-height: 180px;
  margin-bottom: 100px;
  
  font-family: "Roboto medium", sans-serif;
  font-size: 55px;
  line-height: 70px;
  color: rgba(0, 0, 0, 1);
  
  
  background-color: #eee;
}

.inner-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  
  margin-bottom: 0;
  padding: 0 140px;
  padding-top: 10px;
}

.inner-page .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0 140px;
}

.filters {
  flex-basis: 260px;
}

.right-block {
  flex-basis: 770px;
}

.sort {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.sort-title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  
  text-transform: uppercase;
}

.sort-wrapper {
  display: flex;
  flex-basis: 360px;
  padding: 0 15px;
  justify-content: space-between;
}

.sort-wrapper a {
  font-size: 14px;
  line-height: 30px;
  
  color: #e9e9e9;
  
  text-decoration: none;
  text-transform: uppercase;
  
  transition: 0.3s;
}

.arrow-up::after {
  content: "\25b2";
  color: #e9e9e9;
  transition: 0.3s;
}

.arrow-down::before {
  content: "\25bc";
  color: #e9e9e9;
  transition: 0.3s;
}

.sort-wrapper a:hover,
.arrow-up:hover::after,
.arrow-down:hover::before {
  color: #000;
}

.sort-wrapper .active-link {
  color: #000;
}


.catalog-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.catalog-item {
  position: relative;
  flex-basis: 360px;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 0;
  
  box-shadow: 0px 5px 5px -1px rgba(50, 50, 50, 0.3);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
  content: "\25CF \0020 \25CF \0020 \25CF";
  display: block;
  position: relative;
  
  height: 38px;
  padding-left: 10px;
  
  font-size: 30px;
  line-height: 35px;
  vertical-align: middle;
  color:  #fff;
  
  background-color: rgb(233, 233, 233);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
  transition: 0.4s;
}

.catalog-item:hover::before {
 background-color: rgb(77, 77, 77);
}

.pagination-list {
  display: flex;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  
  border: none;
  border-radius: 4px;
  background-color: #eee;
  
  transition: 0.1s;
}

.pagination-item:active {
  background-color: #d5d5d5;
  
  box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.2);
}

.pagination-item:hover {
background-color: #dfdfdf;
}
.pagination-item-current {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: #fff;
}

.button-pagination {
  display: block;
  width: 260px;
  height: 30px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  
  border: none;
  
  background-color:  #eee;
  
  transition: 0.2s;
}

.button-pagination:active{
  background-color: #d5d5d5;
  
  box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.2);
}


.button-pagination a {
  display: block;
  padding: 5px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.button-pagination a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a,
.pagination-item-current a{
  display: block;
  padding: 12px;
  color: rgba(0, 0, 0, 1);
  
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.cost-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.filter-input-cost {
  width: 80px;
  height: 38px;
  margin-right: 30px;
  margin-bottom: 40px;
  
  text-align: center;
  
  border: none;
  border-radius: 4px;
  
  background-color: #eee;
}

.filter-input-range {
  width: 260px;
  height: 80px;
}

.cost-wrapper label {
  font-size: 16px;
  line-height: 42px;
  padding-right: 10px;
  
  color: #283136;
  
  text-transform: uppercase;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 10px;
  
  font-weight: bold;
  
  text-transform: uppercase;
}

.cost legend {
  padding-bottom: 40px;
}

.filter-option {
  list-style: none;
}

.filter fieldset ul {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 35px;
}

.filter fieldset ul li {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;
  
  color: #283136;
}

.radio-indicator {
  position: relative;
  display: block;
  
  width: 25px;
  height: 25px;
  
  top: 23px;
  left: -35px;
  
  
  background: radial-gradient(circle, transparent 50%, #d6d6d6 10%);
  border-radius: 50%;
}

.radio-indicator::before {
  content: "";
  position: absolute;
  
  width: 25px;
  height: 25px;
  
  top: 0;
  left: 0;
  
  background-image: radial-gradient(circle, #d6d6d6 30%, transparent 30%);
  
  opacity: 0;
  
  transition: 0.3s;
}

.filter-input-radio:checked + .radio-indicator::before {
  opacity: 1;
}

.checkbox-indicator {
  position: relative;
  display: block;
  
  width: 27px;
  height: 23px;
  
  top: 22px;
  left: -35px;
  
  
  background-image:url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + .checkbox-indicator {
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-gray {
  display: block;
  width: 260px;
  height: 50px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  
  color: rgba(0, 0, 0, 1);
  
  border: none;
  
  background-color:  #eee;
}

.description {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  
  bottom: 0px;
  left: 0;
  
  width: 361px;
  height: 230px;
  padding: 10px;
  
  
  flex-flow: column wrap;
  justify-content: flex-start;
  
  align-items: center;
  
  background-color: #eee;
  
  opacity: 0;
  transition: 0.5s;
}

.catalog-item:hover .description {
  opacity: 0.97;
}

.description-item {
  color: #000;
  font-size: 18px;
  line-height: 30px;
  
  margin-top: 20px;
  margin-bottom: 15px;
  
  text-transform: uppercase;
}

.description p {
  text-align: center;
  
  margin: 0;
  margin-bottom: 20px;
  
  color: #666;
}

/*Modal window*/

.write {
  visibility: hidden;
  
  position: fixed;
  
  max-width: 760px;
  height: 450px;
  padding: 60px 100px 80px 100px;
  margin-left: -480px;
  
  
  top: 15%;
  left: 50%;
  
  background-color: #fff;
  box-shadow: 0px 20px 25px 10px rgba(50, 50, 50, 0.7);
  
  opacity: 0;
  
  transition: 0.1s linear;
}

.modal-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  box-shadow: inset 50px -180px 700px 900px rgba(0, 0, 0, 0.5);
  
  opacity: 0;
  
  transition: 0.2s linear;
}

.js-blur {
  transition: 0.3s linear;
}

.modal-blur {
  filter: blur(5px) grayscale(70%);
}

.modal-show {
  visibility: visible;
  opacity: 1;
  
  z-index: 2;
}

.form-title {
  margin: 0;
  margin-bottom: 30px;
  
  font-family: "Roboto medium", sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: normal;
}

.form-name {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  
  list-style: none;
}

.form-name li {
  display: flex;
  flex-flow: column wrap;
}

.form-name label {
  padding-bottom: 10px;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.form-name input {
  width: 340px;
  height: 30px;
  
  padding: 10px;
  
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.form-name input::placeholder {
  color: #d7dcde;
}

.form-name input:hover {
  width: 340px;
  height: 30px;
  
  padding: 10px;
  
  border: 2px solid #b4b9bb;
  border-radius: 3px;
}

.form-name input:hover::placeholder {
  color: #b4b9bb;
}

.form-text textarea:hover {
  width: 740px;
  height: 80px;
  
  padding: 10px;
  
  border: 2px solid #b4b9bb;
  border-radius: 3px;
  
  resize: none;
}

.form-text textarea:hover::placeholder {
  color: #b4b9bb;
}

.form-name input:focus {
  width: 340px;
  height: 30px;
  
  padding: 10px;
  
  border: 2px solid #000;
  border-radius: 3px;
  outline: none;
}

.form-name input:focus::placeholder {
  color: #000;
}

.form-text textarea:focus {
  width: 740px;
  height: 80px;
  
  padding: 10px;
  
  border: 2px solid #000;
  border-radius: 3px;
  
  resize: none;
  outline: none;
}

.form-text textarea:focus::placeholder {
  color: #000;
}

.form-text {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.form-text b {
  padding-bottom: 10px;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.form-text li {
  display: flex;
  flex-flow: column wrap;
}

.form-text textarea {
  width: 740px;
  height: 80px;
  
  padding: 10px;
  
  border: 2px solid #d7dcde;
  border-radius: 3px;
  
  resize: none;
}

.form-text textarea::placeholder {
  color: #d7dcde;
}

.button-write {
  margin-top: 50px;
  
  width: 260px;
  height: 50px;
  
  background-color: #fb565a;
  border: none;
  
  outline: none;
}

.button-write:hover,
.button-write:focus {
  background-color: #e74246;
  
  transition: 0.3s;
}

.button-write:active {
  background-color: #d7373b;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  
  width: 22px;
  height: 22px;
  
  border: none;
  background-color: transparent;
  
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #fecccd;
  
  border-radius: 1px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #fb565a;
  
  transition: 0.3s;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}

.button-gray:hover,
.button-pagination:hover {
  background-color: #dfdfdf;
}

.button-gray:active {
  background-color: #d5d5d5;
  
  color: rgba(0, 0, 0, 0.3);
  
  box-shadow: inset 0px 2px 1px 0px rgba(50, 50, 50, 0.2);
  
  outline: none;
}
