
body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.main-header {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #eeeeee;
}

.main-header a {
    color: #000000;
}

.slides-features {
    background-color: #eeeeee;
}

.slides-features h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
    color: #000000;
}

.button {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.button.button-pink:hover {
    background-color: #e74246;
}


.button.button-pink:active {
    color: #e48789;
    background-color: #d7373b;
}

.button.button-pink {
    background-color: #fb565a;
}

.button.button-lime {
    background-color: #00ca74;
}

.button.button-yellow {
    background-color: #efc849;
}



.slides-switcher {
    
}

.slides .button-slide {
    border: none;
    
    background-color: #ffffff;
}

.about h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: normal;
    color: #000000;
}

.about .research {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.statistics b {
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.statistics .percents-sign {
    font-size: 23px;
    line-height: 10px;
    font-weight: bold;
    vertical-align: super;
}

.statistics h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.footer-under b {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.footer-under p {
    font-size: 16px;
    line-height: 22px;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}



.site-navigation a:hover {
    color: #fb565a
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}


.site-navigation-current a {
    text-decoration-line: underline;
    text-decoration-color: #fb565a;
}

.sort a {
    color: #000000;
    text-transform: uppercase;
}

.page-title {
    font-size: 55px;
    line-height: 55px;
}

.container h2 {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.filters legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.filters fieldset {
    border: none;
}

.filter-button {
    color: #000000;
    
    background-color: #eeeeee;
    border: none;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
    outline: none;
}

.filter-button:active {
    color: #a9a9a9;
    
    background-color: #d5d5d5;
}


.pagination-item-current {
    border-style: solid;
    border-radius: 3px;
    border-color: #dbdbdb;
    
}

.pagination-item a {
    color: #000000;
    
    background-color: #eeeeee;
    border: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
    outline: none;
}

.pagination-item a:active {
    color: #a9a9a9;
    
    background-color: #d5d5d5;
}



.catalog .description {
    background-color: #eeeeee;
}

.catalog .description h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
