html,
body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;

    background-color: #ffffff;
}

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 1440px;
  min-height: 130px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  padding: 0 140px;
  
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    background-color: #eee;
}

.main-navigation {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 500px;
}

.main-navigation-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  margin: 10px;
  padding: 0;

  list-style: none;
}

.main-navigation-items a {
  padding: 20px;
  
  color: #000;
  text-decoration: none;
}

.basket {
  margin: 10px;
  padding: 0;

  list-style: none;
}

.basket a {
  padding: 0;
  
  color: #000;
  text-decoration: none;
}

.slider {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 20px 140px;
  
  color: #000;
  background-color: #eee;
}

.slider ul {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  flex-basis: 390px;
}

.item-wrapper h3 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 65px;
  font-weight: normal;
}

.item-wrapper p {
  margin: 0;
  margin-bottom: 30px;
  
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
}

.item-wrapper h3 {
  font-size: 55px;
  line-height: 65px;
  font-weight: normal;
}

.item-night {
  display: none;
}

.item-math {
  display: none;
}

.slider-switcher ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  list-style: none;
}

.services-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 120px;
  padding: 0 140px;
  
  list-style: none;
}

.service-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 300px;
  padding-right: 100px;
}

.service-item h3,
.service-item p,
.service-item a {
  margin: 0;
  padding: 0;
}

.information-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.projects ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.contacts {
  position: relative;
}

.contacts-wrapper {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  
  width: 350px;
  height: 300px;
  
  bottom: 400px;
  left: 140px;
  
  background-color: #fff;
}

.main-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}