html,
body {
    min-width: 1440px;
    margin: 0 auto;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;

    background-color: #ffffff;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 100%;
  min-height: 130px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 20px;
  
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 550px;
}

.main-navigation-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  margin: 10px;
  padding: 0;

  list-style: none;
}

.main-navigation-items a {
  padding: 20px;
  
  color: #000;
  text-decoration: none;
}

.basket {
  margin: 10px;
  padding: 0;

  list-style: none;
}

.basket a {
  padding: 20px;
  
  color: #000;
  text-decoration: none;
}

.slider 
